


#container {
float: left; 
width: 250px;
height: 250px;
color: red;
font-size:50px;
padding: 5px;
margin:10px; 
transform: rotate(45deg);
outline: 20px dashed #03aacc;

}


#container2 {
float: left; 
width: 300px;
height: 300px;
color: white;
font-size:50px;
padding: 5px;
margin:10px; 
transform: rotate(75deg);
outline: 50px inset #CC0000;
outline-offset: #03aaccpx;

}
