
body{
	background-color:#FFFAF0;
}


p{
	font-family: 'Roboto Condensed', sans-serif;
	color:#000000;
	font-size:15px; 
	text-align:justify;
	text-indent: 5em; 

}

h1{
	font-family: 'Volkhov', serif;
	color:#FFFFFF;
	background-color:#47D1D1;


}

h2{
	font-family: 'Volkhov', serif;
	color:#FFFFFF;
	background-color:#7575A3;
	text-align:center;
}



h3{
	font-family: 'Volkhov', serif;
	color:#636363;
	text-align: center;

}

h4{
	font-family: 'Volkhov', serif;
	color:#7575A3;
	text-align:center;

}


ul{
	
	font-family: 'Roboto Condensed', sans-serif;
	color:#000000;
	font-size:15px;
	font-weight:bold;

}

div {
	width: 750px;
	padding-top:20px;
	padding-bottom:50px;
}

#box {
	padding-left:250px;
	
}


#box2{
	height:750px;
	overflow:auto;
}

#box3{
	height:400px;
	overflow:auto;
}


