body
{
	color:#FFFFFF;
	font-family: 'Comfortaa', cursive;
	background: #FF7B62;
	background: linear-gradient(to right, #FFB793 25%, #FF7B62 75%);

}
	#container{
	margin-left:200px;
	margin-top:200px;
	height:300px;
	width:500px;
	overflow:auto;
}


#links{
	margin-left:25px;
	margin-top:20px;
	height:auto;
	width:500px;
	position:absolute;

}

a:link
{
	font-size:20px;
	color:#a8c5a8;
	background-color:#FFFFFF;
	text-decoration:none;
	padding:3px;

}

a:hover
{
	font-size:20px;
	color:#FFFFFF;
	background-color:#a8c5a8;
	text-decoration:none;
	padding:3px;

}

a:visited
{
	font-size:20px;
	color:#a8c5a8;
	background-color:#FFFFFF;
	text-decoration:none;
	padding:3px;

}