div {
  
  border: 2px solid white;
}

#header {
  height: 100px;
  width: 608px;
  color:#FFFFFF;
  padding:10px;
  font-style: italic;
  font-size: 25px;
  background-color: #e7e7f6;
}

#spacer_bar {
  height: 20px;
  width: 608px;
  background-color:#7ad4b7;
}

.column {
  height: 500px;
  width: 200px;
  float: left;
  background-color: #ffb66c;
}

#footer {
  height: 100px;
  width: 608px;
  position: relative;
  top: 500px;
  background-color:#b5a6a6;
}